<div class="main-header">

  <h1>
    {{#link-to "index" class="header-title"}}
      Kind veilig thuis
    {{/link-to}}
  </h1>

  {{#link-to "gebruiker" class="header-user"}}
      Gebruiker
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" alt="">
    {{/link-to}}
</div>
