<ul class="filterlist">
  <li>Algemeen</li>
  <li class="active">Werk en opleiding</li>
  <li>Huiselijke relaties</li>
  <li>Huisvesting</li>
  <li>Geestelijke gezondheid</li>
  <li>Maatschappelijke participatie</li>
  <li>Justitie</li>
  <li class="disabled">Tijdsbesteding</li>
  <li class="disabled">Lichamelijke gezondheid</li>
  <li class="disabled">Middelengebruik</li>
  <li class="disabled">Basale ADL</li>
  <li class="disabled">Insturmentale ADL</li>
  <li class="disabled">Sociaal netwerk</li>
</ul>

{{yield}}
