@import "main-header.css";

@import "newtaxation-form.css";

@import "newtaxation-scale.css";

body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  background-color: #f5f6f8;
  color: #4a4a4a;
}

.main-menu {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.main-menu .button {
  margin: 3em;
  padding: 4em 1em;
  width: 30%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  border: 0.05em solid #eaeaea;
  background-color: white;
  color: #4a4a4a;
}

.newtaxation {
  padding: 2em 4em;
  display: grid;
  grid-template-columns: 1fr 0.5em 2fr;
  grid-template-rows: 1fr;
}

.newtaxation .scale,
.newtaxation .form {
  border: 0.05em solid #eaeaea;
  background-color: white;
  padding: 1em;
}

.scale,
.form {
  grid-row-start: 2;
}

h3 {
  grid-row-start: 1;
}
