@import "main-header.css";

@import "newtaxation-form.css";

@import "newtaxation-scale.css";

@import "newtaxation-filterlist.css";

body {
  font-family: "Source Sans Pro", sans-serif;

  margin: 0;
  padding: 0;
  background-color: #f5f6f8;
  color: #4a4a4a;
}

.main-menu {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.main-menu .button {
  margin: 3em;
  padding: 4em 1em;
  width: 30%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  border: 0.05em solid #eaeaea;
  background-color: white;
  color: #4a4a4a;
  border-radius: 0.2em;
}

.newtaxation {
  padding: 2em 4em;
  display: grid;
  grid-template-columns: 1.3fr 0.5em 1fr 1.3fr;
  grid-template-rows: auto 1fr 1fr;
}

.newtaxation .scale,
.newtaxation .form {
  border: 0.05em solid #eaeaea;
  background-color: white;
  padding: 1em;
  border-radius: 0.2em;
}

h2 {
  grid-row-start: 1;
}

/* grid */

#ember185 {
  grid-column: 1;
  grid-row: 2;
}

#ember186 {
  grid-column: 3;
  grid-row: 2;
}

#ember197 {
  grid-column: 4;
  grid-row: 2;
}

#ember190 {
  grid-column: 4;
  grid-row: 2;
}
