.filterlist {
  padding: 0;
  margin: 0;
  width: 100%;
  grid-column: 3;
}

.filterlist li {
  border: 0.05em solid #eaeaea;
  background-color: white;
  color: #4a4a4a;
  /* //width: 100%; */
  list-style-type: none;
  padding: 0.8em 2em;
  margin: 0.3em;
  margin-top: 0;
  border-radius: 0.2em;
}

.filterlist .disabled {
  opacity: 10%;
  background-color: #fafafb;
  color: #a1a1a2;
}

.filterlist li:hover {
  border: 0.05em solid #36abff;
}

.filterlist .disabled:hover {
  border: 0.05em solid #eaeaea;
}

.filterlist .active {
  margin-right: -1em;
  margin-left: 1em;
  padding-left: 3em;
  border-left: 0.5em solid #36abff;
  border-right: none;
}
