.form {
  grid-column-start: 4;
  grid-row-start: 2;
}

.form {
}

.form fieldset {
  border: none;
  padding: 0;
}

.form legend {
  font-weight: 600;
  /* display: none; */
}

.form label {
  display: block;
  font-weight: 600;
}

.form select {
  border: 1px solid #9b9b9b;
  padding: 0.5em 1em;
  -webkit-appearance: none;
  margin: 0.5em 0;
  width: 100%;
  font-size: 0.9em;
  color: #4a4a4a;
  border-radius: 0.2em;
}

.form option {
  padding: 3em;
  margin: 1em;
}

.form select {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiM5YjliOWIiLz4KICA8L2c+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: right;
  background-position: calc(100% - 1em) center;
  background-size: 1em;
  background-color: white;
}
