{{main-header }}

<div class="main-menu">

  {{#link-to "dossiers" class="button"}}
      Dossiers
    {{/link-to}}

  {{#link-to "nieuwetaxatie" class="button"}}
      Nieuwe taxatie maken
    {{/link-to}}

  {{#link-to "trajectkeuze" class="button"}}
      Trajectkeuze maken
    {{/link-to}}

</div>

{{outlet}}
